.govt_cards_body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    background-image: url("../../assets/cards_bg.jpg");
    background-size: cover;
}
.govt_cards_body .left_key{
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
#container_ca{
    border-radius: 18px;
background: rgba(255, 254, 254, 0.971);
/* box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.341) inset; */
/* backdrop-filter: blur(29.850736618041992px); */
  border: 2px solid rgba(255, 255, 255, 0.359);
  /* -webkit-backdrop-filter: blur(29.850736618041992px); */
    min-width: 400px;
    width: auto;
    padding: 25px 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}
#right_side_col{
  flex-direction: column;
  
}
/* .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  .card1 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .card1:hover:before {
    transform: scale(21);
  }
  
  .card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
  } */

  #left_scan{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #left_scan .det{
    width: 50%;
  }